*.pkl
*.csv
*.xlsx
.DS_Store
*.zip
/__pycache__
*.db
*.h5
Practice/Part6/mnist
Practice/Part6/saved_models
Practice/Appendix/models
Practice/Appendix/data_food101
Practice/Appendix/data
/Practice/Appendix/__pycache__
